@use "../abstracts/mixins" as *;
@use "../abstracts/breakpoints" as *;
@use "../abstracts/variables" as *;

.about {
  padding: 3rem;
  gap: 2rem;

  &__heading {
    @include heading();
  }

  &__text {
    @include text();
    text-align: justify;
    font-size: 1.2rem;

    h2 {
      padding: 1rem;
      color: $primary-purple;
    }
  }

  &__footer {
    @include flex-center();
    flex-direction: column;
    padding: 1rem;
    gap: 50px;

    button {
      @include button();
    }

    &__icons {
      @include flex-center();
      width: fit-content;
      gap: 20px;

      svg {
        &:hover {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }

  @include lg-screen {
    width: 80vw;

    &__footer {
      margin-top: 2.5em;
      width: 100%;
      flex-direction: row;
      justify-content: space-around;

      &__icons {
        svg {
          &:hover {
            width: 2rem;
            height: 2rem;
          }
        }
      }
    }
  }
}
