@use "../abstracts/mixins" as *;
@use "../abstracts/breakpoints" as *;
@use "../abstracts/variables" as *;

.hero {
  @include flex-center();
  flex-direction: column;
  padding: 3rem;
  width: 100vw;

  &__buttons {
    @include flex-center();
    width: 100%;
    gap: 1rem;

    button {
      @include button();
    }

    a:last-of-type {
      button {
        background-color: $primary-purple;
        color: white;
        border: 1px solid white;
      }
    }
  }

  &__text {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    h1 {
      font-size: 2rem;
      color: $primary-purple;
      font-weight: 400;
      margin: 0;
    }

    h2 {
      font-size: 4.5rem;
      font-weight: 600;
      margin: 0;

      span {
        color: $primary-purple;
      }
    }

    h3 {
      font-size: 3rem;
      font-weight: 400;
      margin: 0;
      color: $primary-purple;
    }

    &__typewriter {
      font-size: 2rem;
      font-family: "Inconsolata", monospace;
      text-align: center;
      border-right: solid 2px rgba(255, 255, 255, 0.7);
      white-space: nowrap;
      overflow: hidden;
      width: 17ch;
      animation: typewriter 3s steps(19) 1s, cursor 700ms steps(19) infinite;
    }

    @keyframes typewriter {
      0% {
        width: 0;
      }
      100% {
        width: 17ch;
      }
    }

    @keyframes cursor {
      0% {
        border-right-color: rgba(255, 255, 255, 0.7);
      }
      100% {
        border-right-color: transparent;
      }
    }
  }
}

@include lg-screen {
  .hero {
    @include flex-center();
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
    height: 100vh;
    justify-content: space-evenly;

    &__text {
      width: 50%;
    }

    &__image {
      display: flex;
      width: 30%;

      img {
        position: relative;
        top: -100px;
        width: 50vw;
      }
    }

    &__buttons {
      justify-content: flex-start;
      padding: 2.5rem;
      gap: 2rem;
    }

    &__scroll-down {
      left: calc(50% - 10px);
    }
  }
}
