@use "../abstracts/mixins" as *;
@use "../abstracts/breakpoints" as *;
@use "../abstracts/variables" as *;

.skills {
  @include flex-center();
  gap: 2rem;
  padding: 1rem;
  flex-direction: column;
  width: 100vw;

  &__heading {
    @include heading();
    width: 100%;
  }

  &__learning {
    @include flex-center();
    flex-direction: column;
    line-height: 2.5rem;
    margin-top: 50px;

    h3 {
      color: $primary-purple;
    }

    p {
      text-align: center;
    }
  }

  &__container {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
    width: 80vw;

    &-item {
      @include flex-center();
      gap: 1rem;
      flex-direction: column;

      p {
        font-size: 1rem;
        text-align: center;
      }
    }
  }

  @include lg-screen {
    font-size: 1.25rem;

    h3 {
      font-size: 2rem;
    }
    &__container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
