@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.skills {
  @include flex-center();
  padding: 3rem;
  flex-direction: column;
  font-size: 1.25rem;
  width: 100vw;

  &__heading {
    @include heading();
    width: 100%;
  }

  &__learning {
    @include flex-center();
    flex-direction: column;
    line-height: 2.5rem;
  }

  &__container {
    @include flex-center();
    flex-wrap: wrap;
    gap: 50px;
    padding: 3rem;
    width: 80vw;

    &-item {
      @include flex-center();
      gap: 2rem;
      flex-direction: column;
    }
  }
}
