@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.contact-icon {
  fill: $primary-purple;
  width: 2.5rem;
  height: 2.5rem;
  stroke: $primary-purple;
}

.scroll-down {
  @include arrow-btn;
  position: fixed;
  left: calc(50% - 10px);
  bottom: 30px;
  animation: action 1s infinite alternate;

  @keyframes action {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-15px);
    }
  }

  &.hidden {
    display: none;
  }
}

.scroll-to-top {
  display: none;

  &.visible {
    @include arrow-btn;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
  }
}

.theme-toggle-switch {
  .checkbox {
    display: none;
  }

  .label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background: $primary-light-gray;
    border-radius: 5rem;
    padding: 0.5rem;
    height: 2rem;
    width: 4rem;
    font-size: 1rem;
    transition: background 0.5s ease;
    cursor: pointer;
    z-index: 1;

    .ball {
      position: absolute;
      background-color: white;
      border-radius: 50%;
      top: 0.25em;
      left: 0.25rem;
      height: 1.5rem;
      width: 1.5rem;
      transform: translateX(0);
      transition: transform 0.3s ease, background-color 0.5s ease;
    }

    .fa-sun {
      color: black;
    }

    .fa-moon {
      color: white;
    }
  }

  .checkbox:checked + .label .ball {
    transform: translateX(2rem);
  }
}
