@use "variables" as *;

@mixin flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin button {
  background-color: white;
  border: 1px solid $primary-purple;
  border-radius: 1.5rem;
  color: $primary-purple;
  cursor: pointer;
  font-weight: bold;
  padding: 0.75rem 1.75rem 0.75rem 1.7rem;
  text-transform: uppercase;
  width: 150px;

  &:hover {
    filter: brightness(150%);
  }
}

@mixin heading {
  @include flex-center();
  position: relative;
  padding: 50px;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;

  h1:first-child {
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    color: $primary-dark;
    font-size: 3rem;
    font-weight: 1000;
    line-height: 1.2;
  }

  h1 {
    color: $primary-purple;
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 1000;
  }

  @media (min-width: 1024px) {
    h1:first-child {
      font-size: 7rem;
    }

    h1 {
      font-size: 2.5rem;
    }
  }
}

@mixin text {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  padding: 1rem;
  letter-spacing: 0.05em;
  line-height: 175%;
}
