$primary-purple: #7c3aed;
$primary-purple-translucent: rgb(124, 58, 237, 0.9);
$primary-dark: #343a40;
$primary-light-gray: #afafaf;
$primary-background: linear-gradient(120deg, #232a2d, #000 60%);
$large-screen: 1024px;
